*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: RobotoSlab-VariableFont_wght;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

body {
	min-height: 100vh;
}

section {
	height: 100%;
	display: flex;
	flex-direction: column;
}

section:not(.blue-section) {
	margin: 0 7% 0 7%;
	padding: 5%;
	border-left: 1.5px solid var(--darkblue);
	border-right: 1.5px solid var(--darkblue);
}

html {
	background-color: var(--lightgray);
}

ul {
	list-style: none;
}

:root {
	--red: #d92932;
	--darkblue: #334596;
	--teal: #598a99;
	--blue: #78b8cc;
	--lightblue: #badbe6;
	--lightgray: #f0eddf;
}

@font-face {
	font-family: Quando-Regular;
	src: url(../fonts/Quando-Regular.woff2) format("woff2");
}

@font-face {
	font-family: RobotoSlab-VariableFont_wght;
	src: url(../fonts/RobotoSlab-VariableFont_wght.woff2) format("woff2");
}

p {
	font-family: RobotoSlab-VariableFont_wght;
	font-weight: 300;
	font-size: 1.5em;
}

h1 {
	font-family: Quando-Regular;
	font-size: 4em;
	color: var(--darkblue);
}

.star-front::before {
	content: url('../img/star.svg');
	margin-right: 30px;
	filter: invert(19%) sepia(55%) saturate(2284%) hue-rotate(216deg) brightness(100%) contrast(85%);
}

.star-behind::after {
	content: url('../img/star.svg');
	margin-left: 30px;
}

/* ========================================================= */

img {
	height: 10em;
}

.header-container .logo-txt {
	font-family: "Quando-Regular";
	font-size: 5rem;
	font-weight: 500;
	letter-spacing: 0.3em;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	border-bottom: 1.5px solid var(--darkblue);
}

.navbar {
	margin-right: 22px;
	display: flex;
	gap: 1.5em;
}

.navigation-container {
	display: flex;
	flex-direction: column;
	align-items: end;
	color: var(--darkblue);
}

section.hero {
	gap: 25px;
	height: 71vh;
}

.big-word {
	font-family: Quando-Regular;
	font-size: 1.5em;
}

.red-txt {
	color: var(--red);
}

.blue-txt {
	color: var(--darkblue);
}

.hero p {
	text-align: center;
	font-size: 1.5em;
	min-height: 50px;
}

.hero p:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.compass-img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	width: 50%;
	min-width: 250px;
	max-width: 625px;
	height: auto;
}

.left-arrow,
.right-arrow {
	position: absolute;
	bottom: 12%;
	height: auto;
	width: 50%;
	max-width: 75px;
}

.left-arrow {
	left: 18%;
}

.right-arrow {
	right: 18%;
}

section.blue-section {
	background-color: var(--darkblue);
}

section.blue-section .about:not(.compass-section .about) {
	margin: 0 7% 0 7%;
	padding: 5%;
	border-left: 1.5px solid var(--lightgray);
	border-right: 1.5px solid var(--lightgray);
	color: var(--lightgray);
	display: flex;
	gap: 30px;
}

.compass-section .about {
	border-left: 1.5px solid var(--lightgray);
	border-right: 1.5px solid var(--lightgray);
	margin: 0 7% 0 7%;
	height: 0;
}

.about .about-txt {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.about-txt h1 {
	color: var(--lightgray);
}

.about .about-img {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.about-img img {
	height: auto;
	width: 100%;
}