*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: RobotoSlab-VariableFont_wght;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section:not(.blue-section) {
  margin: 0 10% 0 10%;
  padding: 5%;
  border-left: 1.5px solid var(--darkblue);
  border-right: 1.5px solid var(--darkblue);
}

html {
  background-color: var(--beige);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --red: #d92932;
  --darkblue: #334596;
  --teal: #598a99;
  --blue: #78b8cc;
  --lightblue: #badbe6;
  --beige: #f0eddf;
}

@font-face {
  font-family: Quando-Regular;
  src: url(../fonts/Quando-Regular.woff2) format("woff2");
}

@font-face {
  font-family: RobotoSlab-VariableFont_wght;
  src: url(../fonts/RobotoSlab-VariableFont_wght.woff2) format("woff2");
}

p {
  font-family: RobotoSlab-VariableFont_wght;
  font-weight: 300;
  font-size: 1.5em;
}

h1 {
  font-family: Quando-Regular;
  font-size: 4em;
  color: var(--darkblue);
  font-weight: 400;
}

.star-front::before {
  content: url("../img/star.svg");
  margin-right: 30px;
  filter: invert(19%) sepia(55%) saturate(2284%) hue-rotate(216deg)
    brightness(100%) contrast(85%);
}

.star-behind::after {
  content: url("../img/star.svg");
  margin-left: 30px;
  filter: invert(19%) sepia(55%) saturate(2284%) hue-rotate(216deg)
    brightness(100%) contrast(85%);
}

.white.star-front::before {
  filter: invert(100%) sepia(13%) saturate(7448%) hue-rotate(186deg)
    brightness(113%) contrast(112%);
}

/* ========================================================= */

img {
  height: 10em;
}

.main {
  transform: translateY(100px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Adjusted for better spacing */
  border-bottom: 2px solid var(--darkblue);
  color: var(--darkblue);
  padding: 10px;
  background-color: var(--beige);
  /* Padding for better spacing */
  position: fixed;
  width: 100%;
  z-index: 2;
  max-height: 100px;
}

/*
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
*/
.name-logo a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  color: var(--darkblue);
  font-family: Quando-Regular;
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  /* Responsive font size */
  font-weight: 500;
  letter-spacing: 0.2em;
  /* Space between name and logo */
}

.name-logo > img {
  width: 100px;
  /* Initial width for the logo */
  height: auto;
  /* Maintain aspect ratio */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    /* Stack name-logo and navbar vertically */
    align-items: flex-start;
  }

  .navbar {
    justify-content: flex-start;
  }

  .name-logo > img {
    width: 75px;
    /* Smaller logo for smaller screens */
  }
}

@media (max-width: 480px) {
  header {
    padding: 1em;
    /* Adjust padding for smaller screens */
  }

  .name-logo > img {
    width: 30px;
    /* Smaller logo for mobile */
  }

  .navbar {
    gap: 0.5em;
    /* Adjust gap between navbar items */
  }
}

.header-container h1 {
  font-family: "Quando-Regular";
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.3em;
}

.navbar {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.sections {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 0 5% 0 5%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

section.hero {
  gap: 25px;
  height: 71vh;
}

.big-word {
  font-family: Quando-Regular;
  font-size: 1.5em;
  padding: 0 3px 0 3px;
}

.red-txt {
  color: var(--red);
}

.blue-txt {
  color: var(--darkblue);
}

.hero p {
  text-align: center;
  font-size: 1.5em;
  min-height: 50px;
}

.hero p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  font-size: 1.5rem;
  color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar li .underline {
  width: 0%;
  background-color: var(--darkblue);
  height: 1.5px;
  display: flex;
  transition: width 0.5s;
}

.navbar li:hover .underline {
  width: 100%;
}

.navbar li:not(:has(img)),
.name-logo {
  cursor: pointer;
}

.navbar .icon,
.member .roles .icon {
  width: 15px;
  height: auto;
  filter: invert(19%) sepia(55%) saturate(2284%) hue-rotate(216deg)
    brightness(100%) contrast(85%);
}

.seperator .icon {
  width: 30px;
  height: auto;
  filter: invert(23%) sepia(60%) saturate(3656%) hue-rotate(342deg)
    brightness(87%) contrast(94%);
}

.compass-img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 50%;
  min-width: 250px;
  max-width: 625px;
  height: auto;
}

.left-arrow,
.right-arrow {
  position: absolute;
  bottom: 17%;
  height: auto;
  width: 50%;
  max-width: 75px;
  display: none;
}

.left-arrow {
  left: 18%;
}

.right-arrow {
  right: 18%;
}

section.blue-section {
  background-color: var(--darkblue);
}

section.blue-section .about:not(.compass-section .about) {
  overflow: hidden;
  margin: 0 10% 0 10%;
  padding: 5%;
  border-left: 1.5px solid var(--beige);
  border-right: 1.5px solid var(--beige);
  color: var(--beige);
  display: flex;
  gap: 30px;
}

.compass-section .about {
  border-left: 1.5px solid var(--beige);
  border-right: 1.5px solid var(--beige);
  margin: 0 10% 0 10%;
  height: 0;
}

.about .about-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.about-txt h1 {
  color: var(--beige);
}

.about .about-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-img img {
  height: auto;
  width: 100%;
}

.crew-header h1 {
  border-top: 1.5px solid var(--darkblue);
  border-bottom: 1.5px solid var(--darkblue);
  display: flex;
  justify-content: center;
  padding: 2% 0% 2% 0%;
  text-transform: uppercase;
}

.crew-header {
  margin: 0 10% 0 10%;
  padding-top: 5%;
  border-left: 1.5px solid var(--darkblue);
  border-right: 1.5px solid var(--darkblue);
}

.member-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: space-between;
}

.member-container .portrait-container {
  width: 35%;
  aspect-ratio: 1 / 1;
  height: fit-content;
}

.member-container .portrait {
  margin: 40px;
  aspect-ratio: 1/1;
  background-color: var(--lightblue);
}

.portrait-container .elipsis {
  translate: 10px 10px;
  height: auto;
  position: absolute;
  width: 25%;
  /* uncomment to hide */
  /*
	display: none; 
	*/
}

.member-container .member {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.member .roles {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.member .name {
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 4em;
}

.member .description {
  font-size: 1.5em;
}

.seperator {
  display: flex;
  align-items: center;
  gap: 30px;
}

.seperator hr {
  flex: 1;
  background-color: var(--darkblue);
  color: var(--darkblue);
  height: 1.5px;
  border-width: 0;
}

.crew {
  gap: 30px;
}

.crew .member-container:nth-child(even of .member-container) {
  flex-direction: row-reverse;
}

/* footer */

.footer-par-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.footer-par-button img {
  cursor: pointer;
}

footer > section {
  border-top: 1.5px solid var(--darkblue);
}

footer > section img {
  max-width: 30%;
  height: auto;
}

.footer-par {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Quando-Regular;
  color: var(--darkblue);
}

.footer-par:before,
.footer-par:after {
  content: "";
  flex: 1 1;
  border-bottom: 1.5px solid var(--darkblue);
  margin: auto;
}

.footer-par:before {
  margin-right: 40px;
}

.footer-par:after {
  margin-left: 40px;
}

.container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
}

.marquee {
  width: 100%;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 20%;
    content: "";
    z-index: 1;
  }

  &:before {
    left: 0;
    height: 100%;
    background: linear-gradient(to right, var(--darkblue) 5%, transparent 100%);
  }

  &:after {
    right: 0;
    height: 100%;
    background: linear-gradient(to left, var(--darkblue) 5%, transparent 100%);
  }
}

.marquee__content {
  gap: 140px;
  width: 300% !important;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--beige);
  font-family: Quando-Regular;
  animation: marquee 50s linear infinite forwards;

  &:hover {
    animation-play-state: paused;
  }
}

.list-inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;

  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline img {
  filter: invert(100%) sepia(13%) saturate(7448%) hue-rotate(186deg)
    brightness(113%) contrast(112%);
  width: 20px;
  height: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-66.6%);
  }
}

.footer-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 2em;
  color: var(--darkblue);
}

.footer-ul :nth-child(even) {
  display: flex;
  align-items: center;
  gap: 1em;
}

hr {
  width: 100%;
  height: 1.5px;
  background-color: var(--darkblue);
  border: none;
}

.footer-icons {
  max-width: 20px;
  height: 100%;
}

.grid-end {
  justify-self: end;
}

.red {
  filter: invert(32%) sepia(67%) saturate(2005%) hue-rotate(333deg)
    brightness(81%) contrast(113%);
}

.fullwidth-section {
  padding: 0;
  margin: 0;
}

a .logo {
  width: 100px;
  height: auto;
}

.bottom-footer {
  border-top: none;
  padding: 3% 5% 3% 5% !important;
}

.top-footer {
  padding: 3% 5% 3% 5% !important;
}
